langchain
langchain-core
langchain-ollama
ollama
chromadb
langchain-chroma
langchain-community 
langchain-text-splitters



# chromadb
# langchain-chroma
# elasticsearch
# streamlit
# fastapi
# uvicorn